{% extends "base_bootstrap.html" %}
{% block navbar %}
{% load app_tags %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
      {% url 'ads' as ads %}
      <li {% if request.get_full_path == ads %}class="active"{% endif %}>
        <a class="navbar-brand" href="{% url 'ads:all' %}">Ad list</a></li>
      <li {% if request.get_full_path == learnkana %} class="active"{% endif %}>
	<a class="navbar-brand" href="{% url 'learnkana:all' %}">Learn</a></li>
      <li {% if request.get_full_path == main %} class="active"{% endif %}>
	<a class="navbar-brand" href="{% url 'main:create' %}">List Create</a></li>
      <li {% if request.get_full_path == main %} class="active"{% endif %}>
	<a class="navbar-brand" href="{% url 'main:view' %}">List View</a></li>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li>
        <a class="navbar-brand" href="{% url 'ads:ad_create' %}">Create Ad</a>
        </li>
	<li class="nav-item dropdown">
		<a href-"#" class="nav-link dropdown-toggle" id="navbarDropdown" roll="button" data-bs-toggle="dropdown" aria-expanded="false">
		<img style="width: 25px:" src="{{ user|gravatar:50 }}"/></a>
		<ul class="dropdown-menu">
		<li><a href="{% url 'logout' %}?next={% url 'ads:all' %}" class="dropdown-item">Logout</a></li>
		</ul>
	<li>
        {% else %}
        <li>
        <a class="navbar-brand" href="{% url 'login' %}?next={% url 'ads:all' %}">Login</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
