{% extends "base_menu.html" %}
{% block content %}
<h1>Ads</h1>

<p>
{% if ad_list %}
<ul>
  {% for Ad in ad_list %}
    <li>
        <button type="button" class="adsbtn1"><a href="{% url 'ads:ad_detail'  Ad.id %}">{{ Ad.title }}</a></button>
        {% if Ad.owner == user %}
        <button type="button" class="ed"><a href="{% url 'ads:ad_update' Ad.id %}">Edit</a></button>
	<button type="button" class="ed"><a href="{% url 'ads:ad_delete' Ad.id %}">Delete</a></button>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no ads in the database.</p>
{% endif %}
</p>
<p>
<button type="button" class="log"><a href="{% url 'ads:ad_create' %}">Add an Ad</a></button> |
{% if user.is_authenticated %}
<button type="button" class="log"><a href="{% url 'logout' %}?next={% url 'ads:all' %}">Logout</a></button>
{% else %}
<button type="button" class="log"><a href="{% url 'login' %}?next={% url 'ads:all' %}">Login</a></button>
{% endif %}
</p>
{% endblock %}
