{% extends "base_menu.html" %}
{% block content %}
<h1>Ads</h1>
<p>
<div style="float:right">
	<form>
	<input type="text" placeholder="Search.." name="search"{% if search %} value="{{ search}}" {% endif %}>
	<button type="submit"><i class="fa fa-search"></i></button>
	<a href="{% url 'ads:all' %}"><i class="fa fa-undo"></i></a>
	</form>
</div>
{% if ad_list %}
<ul>
  {% for Ad in ad_list %}
    <li>
        <button type="button" class="adsbtn1"><a href="{% url 'ads:ad_detail'  Ad.id %}">{{ Ad.title }}</a></button>
        {% if Ad.owner == user %}
        <button type="button" class="ed"><a href="{% url 'ads:ad_update' Ad.id %}">Edit</a></button>
	<button type="button" class="ed"><a href="{% url 'ads:ad_delete' Ad.id %}">Delete</a></button>
        {% endif %}
        {% if user.is_authenticated %}
	<!--Two hrefs with two stacked icons each - one showing and one hidden -->
<!-- 'ads:ad_unfavorite' This is a reference to the name="" section of the urls.py file -->
	 <a href="#" onclick="favPost('{% url 'ads:ad_unfavorite' Ad.id %}', {{ Ad.id }}); return false;"
            {% if Ad.id not in favorites %} style="display: none;" {% endif %}
            id="favorite_star_{{Ad.id}}">
        <span class="fa-stack" style="vertical-align: middle;">
        <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
        </a>
        <!-- the second href -->
        <a href="#" onclick="favPost('{% url 'ads:ad_favorite' Ad.id %}', {{ Ad.id }} );return false;"
            {% if Ad.id in favorites %} style="display: none;" {% endif %}
            id="unfavorite_star_{{Ad.id}}">
        <span class="fa-stack" style="vertical-align: middle;">
        <i class="fa fa-star fa-stack-1x" style="display: none; color: orange;"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
        </a>
	{% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no ads in the database.</p>
{% endif %}
</p>
<p>
<button type="button" class="log"><a href="{% url 'ads:ad_create' %}">Add an Ad</a></button> |
{% if user.is_authenticated %}
<button type="button" class="log"><a href="{% url 'logout' %}?next={% url 'ads:all' %}">Logout</a></button>
{% else %}
<button type="button" class="log"><a href="{% url 'login' %}?next={% url 'ads:all' %}">Login</a></button>
{% endif %}
</p>
<script type="text/javascript">
function toggleInlineDisplay(star_id) {
    var elem = document.getElementById(star_id);
    if(window.getComputedStyle(elem).display == "inline") {
        elem.style.display = 'none';
        elem.dataset.previousDisplay = 'inline';
    } else if(window.getComputedStyle(elem).display == "block") {
        elem.style.display = 'none';
        elem.dataset.previousDisplay = 'block';
    } else {
        console.log('prev', elem.dataset.previousDisplay);
        if ( typeof elem.dataset.previousDisplay == 'string' ) {
            elem.style.display = elem.dataset.previousDisplay
        } else {
            elem.style.display = 'inline';
        }
    }
}
function favPost(url, Ad_id) {
    console.log('POSTing to', url);
    fetch(url, { method: 'POST', body: '{}' } )
    .then((response) => {
        console.log(url, 'finished');
        toggleInlineDisplay("unfavorite_star_"+Ad_id);
        toggleInlineDisplay("favorite_star_"+Ad_id);
    }).catch((error) => {
        alert('Url failed with '+error+' '+url);
    });
}
</script>
{% endblock %}
