Requirements for ads application: Coursera Django for everyone Course 3/4, week 5/6.

Create two non-super users:
dj4e_user1 / Meow_899808_41 done
dj4e_user2 / Meow_42_899808 done

You should have this meta tag in the <head> of each page:
<meta name="dj4e" content="789980830f6960e332045653a8fe1a1b"> done

additional requirements:
https://www.dj4e.com/assn/dj4e_ads1.md?PHPSESSID=16924bb9f80da30bf88512a9dd49ae28

Mysql is up and running.

# stopped at Pulling in Code from Samples.
8/15/23: right now the problem is "Tried to create a record and cannot find the record in the list view"
The record has been created, I verified this in the admin panel.
The edit view works, so maybe I need to look at the view and edit views together.
