{% extends "base_menu.html" %}
<h1>Curernt request.path {{ request.path }}</h1>
{% block title %}
Home
{% endblock %}

{% block content %}
<div id="welcome">
<h1>Welcome!</h1>
<p>
This site is currently in development.
</p>
<strong>Finished projects include</strong>
    <li>searchable tags</li>
    <li>search bar - Searching: Titles, Text, and Tags.</li>
    <li>Favorites</li>
    <li>Edit/Delete locked behind Owner</li>
    <li>Ads C.R.U.D functionality</li>
    <li>Login/logout</li>
    <li>Navbar</li>
</div><br>
<div id="user-data">
    {% if user.is_authenticated %}
    <p>Authenticated as:
    <pre>
    Name: {{ user.get_full_name }}
    Email: {{ user.email }}
    Id: {{ user.id }}
    </pre>
    </p>
    {% endif %}
</div>
{% endblock %}
